/*
html5doctor.com Reset Stylesheet
v1.4.1
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

@font-face {
    font-family: Consola;
    src: url(‘../static/font/Consola.ttf’);
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

:focus {
    outline: none;
}

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

body {
    font-family: '-apple-system', 'Open Sans', HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei', Helvetica, Arial, sans-serif, sans-serif;
}

pre {
    font-family: Consola, '-apple-system', 'Open Sans', HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei', Helvetica, Arial, sans-serif, sans-serif;
}

.container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    /*background-color: #E7EBF0;*/
    background-size: auto, cover;
    /*background:url('../images/bg.jpg');*/
    background-color: #ecedf1;
}

.header {
    height: 60px;
    width: 100%;
    background-color: #12b7f5;
    color: #fff;
    text-align: center;
}

.header > h1 {
    line-height: 40px;
}

.person-msg {
    font-size: 12px;
    line-height: 20px;
}

.content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 30px 5px 20px;
    overflow-y: scroll;
    text-align: center;
}

.footer {
    height: 50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.footer > textarea {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    line-height: 50px;
    padding: 0 2.5vw;
    border: none;
    word-break: break-all;
    resize: none;
}

.footer > button {
    padding: 0;
    line-height: 50px;
    width: 80px;
    cursor: pointer;
}

.btn {
    font-family: inherit;
    font-size: 100%;
    color: #fff;
    border: 1px solid #999;
    border: none rgba(0, 0, 0, 0);
    background-color: #12b7f5;
    text-decoration: none;
    border-radius: 2px;
}

.btn:hover,
.btn:active {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
}

/*.main-bg {
    background-size: auto,  cover;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
    background:url('../images/bg.jpg');
}*/

.system-msg {
    margin: 10px 0;
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    font-size: 12px;
    background-color: #cdcdd1;
    border-radius: 10px;
}

.user-msg {
    margin: 0;
    left: 10px;
    position: relative;
    text-align: left;
}

.user-img {
    position: absolute;
    height: 40px;
    border-radius: 50%;
}

.user-name {
    position: absolute;
    top: 45px;
    left: -20px;
    font-size: 14px;
    display: inline-block;
    color: #5e5f60;
}

.user-time {
    position: relative;
    font-size: 14px;
    bottom: -16px;
    line-height: 16px;
    color: #5e5f60;
    text-align: center;
    display: block;
}

.user-message {
    position: relative;
    padding: 10px;
    max-width: 100%;
    font-size: 16px;
    margin-top: 70px;
    margin-left: 0px;
    color: #000;
    background: #fff;
    border-radius: 10px;
    word-wrap: break-word;
    text-align: left;
    display: inline-block;
}

.user-message:before {
    content: '';
    position: absolute;
    left: 10px;
    top: -18px;
    border-color: transparent transparent #fff transparent;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
}

.user-me-img {
    right: 0;
}

.user-me-time {
    right: auto;
    left: 10px;
}

.user-me-name {
    left: auto;
    right: -20px;
}

.user-me-message {
    margin-top: 70px;
    margin-left: auto;
    margin-right: 0px;
    background: #f5f5f5;
    color: #000;
}

.user-me-message:before {
    left: auto;
    top: -18px;
    right: 10px;
    border-color: transparent transparent #f5f5f5 transparent;
}

.user-me-msg {
    left: 0;
    right: 10px;
    text-align: right;
}

.user-robot-msg a {
    font-size: 14px;
    line-height: 20px;
    color: #12b7f5;
}

.user-robot-msg a:visited {
    color: #990073;
}