/*
html5doctor.com Reset Stylesheet
v1.4.1
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

:focus {
    outline: none;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
body{
    font-family:'-apple-system','Open Sans',HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue','Hiragino Sans GB','Microsoft YaHei',Helvetica,Arial,sans-serif,sans-serif;
}

.container {
    position: relative;
    height:100vh;
    width: 100vw;
    /*background-color: #E7EBF0;*/
    background-size: auto,  cover;
    background:url('../images/bg.jpg');
}
.header {
    height: 10vh;
    width: 100%;
    background-color: rgba(144, 144, 144, 0.15);
    color: #fff;
    text-align: center;
}
.header >h1 {
    line-height: 10vh;
}

.content {
    padding: 0 40px;
    height: 80vh;
    overflow-y: scroll;
    text-align: center;
}

.footer {
    height: 9vh;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.footer > textarea {
    height: 8.5vh;
    display: inline-block;
    padding: 0 2.5vw;
    width: 75%;
    border: none;
    word-break: break-all;
    resize: none;
}
.footer > button {
    position: absolute;
    line-height: 6vh;
    display: inline-block;
    width: 20%;
    cursor: pointer;
}
.btn {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: #444;
    color: rgba(0, 0, 0, 0.80);
    border: 1px solid #999;
    border: none rgba(0, 0, 0, 0);
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}
.btn:hover,
.btn:active {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}

/*.main-bg {
    background-size: auto,  cover;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
    background:url('../images/bg.jpg');
}*/

.system-msg {
    margin: 10px 0;
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    font-size: 12px;
    background-color: rgba(255 ,255 ,255 ,.3);
    border-radius: 10px;
}
.user-msg {
    margin: 10px 0;
    position: relative;
    text-align: left;
}
.user-img {
    position: absolute;
    height: 50px;
    border-radius: 50%;
}
.user-name {
    position: absolute;
    top: 10px;
    left: 90px;
    font-size: 14px;
    display: inline-block;
    color: #fff;
}
.user-time {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    color: #fff;
}
.user-message {
    position: relative;
   padding: 10px 20px;
   max-width: 90%;
   font-size: 16px;
   margin-top: 35px;
   margin-left: 80px;
   color: #000;
   background: rgb(255, 255, 255);
   border-radius: 10px;
   word-wrap: break-word;
   text-align: left;
   text-indent: 20px;
}
.user-message:before{
   content: '';
   position: absolute;
   top: 13px;
   left: -12px;
   width: 0;
   height: 0;
   border-width: 15px;
   border-style: solid;
   border-color: #fff transparent transparent transparent;
}