<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Happy To Chat</title>
    <!-- 手淘Flexible -->
    <script src="//g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <script src="/static/scripts/jquery.min.js"></script>
</head>
<body>
<div id="J_message">
        <div>Hello</div>
        <div>name</div>
    </div>
    <input id='chat'><button onclick='send()'>Send</button>

    <!-- chat核心文件 -->
    <script src="/static/scripts/connect.js"></script>
</body>
</html>
