<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Happy To Chat</title>
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="stylesheet" href="../static/style/colorful.css">
</head>
<body>
    <div class="container">
        <div class="header"><h1>Happy To Chat</h1></div>
        <div class="content" id="J_message">
           <!--  <p class="system-msg">Hello加入了房间</p>
           

            <p class="user-msg">
            	<img class="user-img" src="../static/images/user.jpg" alt="">
            	<span class="user-name">美美的喜羊羊</span>
            	<span class="user-time">2016-11-2 19:18:32</span>
            	<span class="user-message">我爱大草原</span>
        	</p>
 -->


        </div>
        <div class="footer">
            <textarea id='chat'></textarea><button class="btn" id="J_send">Send</button>
        </div>
	    <!-- <div class="main-bg"></div> -->
    </div>
    
    <script src="../static/scripts/jquery.min.js"></script>
    <!-- chat核心文件 -->
    <script src="../static/scripts/connect.js"></script>
</body>
</html>
