<!DOCTYPE html>

<html>

<head>

<title>考研倒计时</title>

<meta charset="UTF-8" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!--favicons-->

<!-- Bootstrap -->

<link href="../static/style/bootstrap.css" rel="stylesheet" media="screen" />

<link href="../static/style/kaoyan.css" rel="stylesheet" media="screen" />

<link href="../static/style/bootstrap-responsive.css" rel="stylesheet" media="screen" />

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->

<!--[if lt IE 9]>
      <script src="../static/scripts/html5shiv.js"></script>
    <![endif]-->

<style>
@font-face {
    font-family: 'JournalRegular';
    src: url('../static/font/journal-webfont.eot');
    src: url('../static/font/journal-webfont_162a16fe.eot') format('embedded-opentype'), url('../static/font/journal-webfont.woff') format('woff'), url('../static/font/journal-webfont.ttf') format('truetype'), url('../static/font/journal-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
</style>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />



</head>

<body class="page-bg">

<div class="container">

  <div class="hero-unit">

    <h1> </h1>

  </div>

  <div class="social-links">

  

  </div>

  <div class="clock">

    <div class="kaoyan">考研倒计时</div>
    <div class="span6"> <img class="img-clock" src="../static/images/bg-clock.png" alt="clock counter" />

      <div id="countdown">

        <div class="days"><span id="days"></span> <ins>/</ins> <em>days /</em></div>

        <div class="hours"><span id="hours"></span> <ins>/</ins> <em>hours /</em></div>

        <div class="minutes"><span id="minutes"></span> <ins>/</ins> <em>min /</em></div>

        <div class="seconds"><span id="seconds"></span><em>sec</em> </div>

      </div>
    </div>
    <div class="proverb">芝兰生于幽林，不以无人而不芳；<br>
    君子修道立德，不为穷困而改节。</div>
  </div>








<!-- Le javascript
    ================================================== --> 

<!-- Placed at the end of the document so the pages load faster --> 

<script src="../static/scripts/jquery.js"></script>



<script src="../static/scripts/bootstrap-tooltip.js"></script> 

<script type="text/javascript" src="../static/scripts/jquery.countdown.min.js"></script> 



<script type="text/javascript" src="../static/scripts/jquery.custom.js"></script>

</script>
<!-- <script type="text/javascript">
  var bd  = document.getElementsByTagName("body")[0];
        var xhr9 = new XMLHttpRequest();
        var text;
        xhr9.onreadystatechange = function(text){
            if(xhr9.readyState == 4){
                if(xhr9.status == 200){
                    text = xhr9.responseText;
                    aa(bd,text);
                } else{
                    console.log("false");
                }
            }   
        }

    var url = "https://ky.crazyc.cn/pic";
    xhr9.open("get", url,true);
    xhr9.send(null);
    
    function aa(option,text){
        option.style.backgroundImage = "url("+text+")";
    }
</script> -->
</div>

</body>

</html>